<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="flex flex-col min-h-screen items-center justify-center bg-slate-900 text-white space-y-4">
<h1 class="text-3xl font-bold underline ">Top Education</h1>
<!--<div th:each="user:${users}">-->
<!--    <p th:text="${user.name}"></p>-->
<!--</div>-->
<div>
    <!-- We create a link to the createUsers route -->
    <a th:href="@{/createUser}"> Crear usuario</a>
</div>
<h1 class="text-2xl font-bold">Busqueda por RUT</h1>
<form action="/installments" method="get">
    <input type="text" name="search" placeholder="Ingrese RUT">
    <input type="submit" value="Search">
</form>

<h1 class="text-2xl font-bold">Subir notas</h1>
<form action="#" th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
</form>
    <h1 class="text-2xl font-bold">Lista de usuarios</h1>
    <a th:href="@{/users}">Mostrar todos los usuarios</a>
</div>
</body>
</html>